# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual/env
.venv/
venv/

# Pixi
.pixi/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Testing
.pytest_cache/
.coverage

# Ruff / mypy / pyright
.mypy_cache/
.ruff_cache/
.pyright/